.best-desktop {
  display: flex;
  justify-content: center;
  align-items: center;
}
.input-holder {
  background: linear-gradient(
    90deg,
    #75cfff -17.97%,
    rgba(117, 207, 255, 0) 54.75%
  );
  margin: 0px;
  height: 50vh;
  width: 50vw;
  height: 70vh;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.photo-container {
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.input-container {
  width: 470px;
  height: 420px;
  flex-shrink: 0;
  border-radius: 34px;
  background: #fff;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-grow: 0;
}
.info {
  color: #2f2f2f;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px; /* 150% */
}
.input {
  width: 299px;
  height: 47px;
  flex-shrink: 0;
  border-radius: 5px;
  background: #e3e3e3;
  margin: 10px;
  border: none;
  padding-left: 20px;
}
.input-logo {
  width: 46px;
  height: 45.021px;
  flex-shrink: 0;
  color: #138ed1;
}
.input-checkbox {
  width: 22px;
  height: 22px;
  flex-shrink: 0;
  color: #138ed1;
  margin-right: 35px;
  margin-top: 20px;
}
.label {
  color: #2f2f2f;
  font-family: Montserrat;
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: 25px; /* 227.273% */
}
.input-button {
  width: 236px;
  height: 42px;
  flex-shrink: 0;
  border-radius: 6px;
  background-color: #138ed1;
  color: white;
  border: none;
}
.style-head {
  color: #333;
  font-family: Montserrat;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 70px;
  text-align: center;
}
.head-span {
  color: #138ed1;
  font-family: Montserrat;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 70px;
  text-decoration: underline;
}

.brief {
  background-image: url('https://s3-alpha-sig.figma.com/img/cbe9/0810/71f4de0c8bbf698fc0fab7fa83a4d179?Expires=1696204800&Signature=HNSa2nLy4t~o-qXhMq~uNmG9jN7nrf~GTkJLX8wnTU7-S~34BM9RpTYRFn1NVHeym1wnhZ5QkXG8edgohaVyci3Fic~y7HzOkkAGXGWa~5vUWSldYr1RVNhhEtJP0AFjuzrJzUXZpbCwP51qkRcP4SrVHWhNA8rnulCBYMs~H3PCL9eXAqq1mvIU-SQ3U5QKDd8D2oYORG2BTN6~cy8h5hRHBDeq~nG0TrK3apqC98Is0w9hI1o0kVX9BA3wKykOLsdK48Qx8eSgx9XzZCkSX7A2goiFcW50N9NOTAGuU5jn3oSmYyDj3kdKXKiN~FVIuLx9S4GDjEEjWI1zGH9Gfw__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4');
  width: 514px;
  height: 521px;
  flex-shrink: 0;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
}
.brief-details-1 {
  width: 183px;
  height: 89px;
  flex-shrink: 0;
  border-radius: 13px;
  background: rgba(110, 110, 110, 0.22);
  backdrop-filter: blur(12.5px);
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-self: center;
  margin: 10px;
  margin-right: 10px;
}
.brief-details-2 {
  width: 183px;
  height: 89px;
  flex-shrink: 0;
  border-radius: 13px;
  background: rgba(110, 110, 110, 0.22);
  backdrop-filter: blur(12.5px);
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-self: flex-start;
}
.brief-image {
  width: 45px;
  height: 44px;
  flex-shrink: 0;
  border-radius: 45px;
}
.brief-text {
  color: #333;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px; /* 150% */
}
.discount {
  width: 470px;
  height: 70px;
  flex-shrink: 0;
  border-radius: 35px;
  border: 1px solid #fff;
  background: #00486c;
  color: #fff;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.discount-price {
  width: 194px;
  height: 68px;
  flex-shrink: 0;
  border-radius: 34px;
  background: #00a6ff;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.discount-holder {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
.nabl-logo {
  width: 60px;
  height: 66px;
  flex-shrink: 0;
}
.nabl-text {
  color: #333;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
.nabl-holder {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}
.nabl-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
@media screen and (max-width: 768px) {
  .nabl-logo {
    width: 32px;
    height: 34px;
    flex-shrink: 0;
    margin: 10px;
  }
  .nabl-text {
    color: #333;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
  }
  .nabl-holder {
    margin: 10px;
  }
  .nabl-container {
    flex-direction: column;
    margin-top: 10px;
  }
  .best-desktop {
    display: none;
  }
  .photo-container {
    display: none;
  }
  .head-span {
    color: #138ed1;
    text-align: center;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 70px;
  }
  .style-head {
    color: #333;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 70px;
  }
  .input-holder {
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 80vh;
  }
  .input-container {
    width: 312px;
    height: 340px;
    flex-shrink: 0;
    border-radius: 34px;
    background: #fff;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .info {
    color: #2f2f2f;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 15px; /* 107.143% */
  }
  .input {
    width: 204px;
    height: 33px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #e3e3e3;
  }
  .input-logo {
    width: 30px;
    height: 30px;
    flex-shrink: 0;
  }
  .label {
    color: #2f2f2f;
    font-family: Montserrat;
    font-size: 7px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px; /* 357.143% */
  }
  .discount {
    display: flex;
    width: 312px;
    height: 55px;
    padding: 8px 0px 3px 0px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background-color: #00486c;
    color: white;
    border-radius: 35px;
    border: 1px solid #fff;
    background: #00486c;
    color: #fff;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
  }
  .discount-price {
    width: 204px;
    height: 33px;
    flex-shrink: 0;
    color: white;
    background-color: #75cfff;
    border-radius: 35px;
    text-align: center;
    color: #fff;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    margin: 10px;
  }
  .input-button {
    width: 156px;
    height: 30px;
    flex-shrink: 0;
    align-self: center;
  }
  .input-checkbox {
    width: 14px;
    height: 16px;
    flex-shrink: 0;
    margin-right: 30px;
  }
}
.line-through {
  text-decoration: line-through;
}
@media screen and (min-width: 768px) {
  .best-mobile {
    display: none;
  }
}
