.package-para {
  color: #6e6e6e;
  text-align: center;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
}
.packages {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
.package-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 353px;
  height: 339px;
  flex-shrink: 0;
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.25);
  padding: 20px;
  margin: 20px;
}
.package-head {
  color: #2f2f2f;
  font-family: Montserrat;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px;
}
.package-button {
  width: 264px;
  height: 43px;
  flex-shrink: 0;
  border-radius: 6px;
  background: #008dd9;
  border: none;
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  align-self: center;
}
.package-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.reviews {
  display: flex;
  align-items: center;
}
.rating {
  color: #2f2f2f;

  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  margin-right: 10px;
}
.star {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  color: #e2e700;
  align-self: center;
  margin-right: 10px;
}
.no-of-reviews {
  color: #6e6e6e;
  text-align: center;
  font-family: 'Montserrat';
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}
.amount {
  color: #2f2f2f;
  text-align: center;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 100% */
}
@media (max-width: 768px) {
  .packages {
    flex-direction: column;
  }
  .package-head {
    color: #2f2f2f;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 133.333% */
  }
  .package-button {
    width: 204px;
    height: 40.749px;
    flex-shrink: 0;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
  }
  .package-item {
    width: 312px;
    height: 240px;
    flex-shrink: 0;
  }
  .package-para {
    color: #6e6e6e;
    text-align: center;
    font-family: Montserrat;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 15px;
    width: 312px;
  }
  .rating {
    color: #2f2f2f;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
  }
  .star {
    width: 21px;
    height: 18.006px;
    flex-shrink: 0;
  }
  .no-of-reviews {
    color: #6e6e6e;
    text-align: center;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
  }
  .amount {
    color: #2f2f2f;
    text-align: center;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 100% */
  }
  .extend {
    align-self: flex-end;
    color: #00486c;
    text-align: center;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    margin: 10px;
  }
}
