.bottom-section {
  background-color: #1f1f1f;
  display: flex;
  flex-direction: column;
  padding: 10px;
  padding-top: 40px;
  padding-bottom: 40px;
}
.logo-x {
  width: 137px;
  height: 137px;
  flex-shrink: 0;
}
.bottom-section-para {
  color: #fff;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}
.bottom-top {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.bottom-head {
  color: #fff;
  font-family: Montserrat;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 35px;
}
.bottom-section-services {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.bottom-section-logo-container {
  width: 40vw;
  margin-right: 20px;
}
.line {
  border: white 1px solid;
  width: 100%;
}
.bottom-section-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  flex-grow: 1;
  min-height: 360px;
  min-width: 200px;
}
.copyrights {
  width: 30px;
  height: 30px;
  flex-shrink: 0;
  color: white;
  margin-right: 20px;
  border-radius: 15px;
  border: solid white 1px;
  padding: 5px;
  margin-left: 20px;
}
.number-input-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  width: 471px;
  height: 88px;
  flex-shrink: 0;
  border-radius: 14px;
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(12.5px);
  margin: 20px;
}
.number {
  text-align: center;
  border-right: 2px solid white;
  color: #fff;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 35px;
  margin: 20px;
}
.phone-logo {
  width: 39px;
  height: 39px;
  flex-shrink: 0;
}

.number-input {
  background: rgba(255, 255, 255, 0.25);
  border: none;
  height: 88px;
  width: 471px;
  backdrop-filter: blur(12.5px);
}
.phone-logo-container {
  width: 117px;
  height: 88px;
  flex-shrink: 0;
  background-color: #00a6ff;
  border-top-right-radius: 14px;

  border-bottom-right-radius: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .number-input-container {
    display: none;
  }
  .bottom-top {
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
  }
  .logo-x {
    width: 37px;
    height: 44.228px;
    flex-shrink: 0;
    margin-bottom: 20px;
  }
  .bottom-section-list {
    padding: 0px;
    min-height: 150px;
    margin: 0px;
    min-width: 150px;
  }
  .bottom-head {
    color: #fff;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
  }
  .bottom-section-para {
    color: #fff;
    font-family: Montserrat;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 15px;
  }
  .bottom-section-services {
    justify-content: space-between;
  }
  .bottom-section-logo-container {
    width: 80vw;
    margin-bottom: 20px;
  }
}
